/*  your css code here. If applicable */
body{
	padding:0;
	margin:0;
	background-color: rgb(204, 204, 204);
}

h1{
	text-align:center;
}

.table{
	border:1px solid black;
	
	margin:20px;
	border-radius: 10px;
	background-color:white;
}

.list{
	font-weight:500;
	list-style-type: none;	
}

h2{
	text-align:center;
}

.video{
	border:1px solid black;
	margin:20px;
	border-radius: 10px;
	background-color:white;
}

#main_video{
	
	padding-left:185px;
	margin-top:15px;
}

.video h2{
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}

.video h4{
	padding-left:10px;
}

.video audio{
	padding-left:20px;
	padding-bottom: 20px;
	width:650px;

	
}
